#id {
  background-color: grey;
  color: Red;
}
.nav-items > ul {
  display: flex;
  list-style: none;
}
.nav-items > ul > li {
  padding: 20px;
}
.header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  height: 100px;
  width: 100px;
}
.card {
  border: 1px solid black;
  width: 200px;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
}
.card > h2:link {
  text-decoration: none;
}
.card > img {
  width: 100%;
}
.restaurant-list {
  display: flex;
  flex: wrap;
  flex-wrap: wrap;
}
.shimmer {
  width: 200px;
  height: 200px;
  background-color: rgb(230, 222, 222);
  padding: 10px;
  margin: 10px;
}
.shimmerContainer {
  display: flex;
  flex-wrap: wrap;
}
.searchContainer {
  display: flex;
  justify-content: center;
}
body {
  background-color: rgb(254, 169, 66);
}
.section {
  border: 2px solid black;
  margin: 20px;
  padding: 2px;
}
.footer {
  text-align: center;
}
